.footer {
    background-color: violet;
    display: grid;
   height: 100px;

}

.nav-links {
    flex:2;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.nav-links a {
    margin: 0;
    flex: 1;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
@media (max-width: 350px) { 
.nav-links a { 
font-size: 14px;
} 
} 