.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
  
  background-color: pink;
  box-sizing: border-box;
}
.time {
  background-color: beige;
}
.time p{
  color: rgb(235, 162, 25);
}
.container h1 {
  font-size: 24px;
  margin: 0;
}
.container p {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 5px;
}
@media (max-width: 718px) { 
.container { 
flex-direction: column;
} 
app-productlist {
  justify-content: center;
  display: flex;
  align-items: center;
}

} 
@media (max-width: 350px) {
    .container{
        font-size:15px;
    }
}